// Variables personnalisées pour Bootstrap
$primary: #fad1d8; // Couleur principale avec un bon contraste
$secondary: #9e899d; // Couleur secondaire
$body-bg: #faf3f3; // Couleur de fond du site
$dark: #12100f; // Couleur pour les textes sombres
$les-cartes: #eeddcc; // Couleur pour les cartes
$les-textes-white: #ffffff; // Couleur pour les textes blancs

$font-family-base: "Frank Ruhl Libre", serif !important; // Police principale
$font-family-sans-serif: "Lato", sans-serif !default; // Police secondaire

$font-weight-regular: 400; // Poids régulier
$font-weight-bold: 700; // Poids gras

// Inclusion sélective de Bootstrap pour réduire la taille
@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/_reboot";
@import "../node_modules/bootstrap/scss/_buttons";
@import "../node_modules/bootstrap/scss/_utilities";

// Ajout de styles personnalisés ici si nécessaire
